<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <h1 class="profile-heading">User Profile</h1>
    <div class="profile-info-container">
        <span class="profile-info-label"><strong>Username:</strong></span>
        <span class="profile-info-value">{{ user_info.username }}</span>
    </div>
    <div class="profile-info-container">
        <span class="profile-info-label"><strong>Email:</strong></span>
        <span class="profile-info-value">{{ user_info.email }}</span>
    </div>
    <div class="profile-info-container">
        <span class="profile-info-label"><strong>Department:</strong></span>
        <span class="profile-info-value">{{ user_info.department }}</span>
    </div>
    <!-- Add more user information if needed -->
</body>
</html>
